In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
df_ring_data = pd.read_csv('CircularRingVis.csv')

In [3]:
df_ring_data

,Date Started,DN,Children Sponsored,Ambassador,Recurring Amount,One Time Amount,PT,City of Residence,SoR,Region
0,2019/11/1,2,"Gycheline Zamor,Marly Orimond",Alejandra Maria Arias,30.0,360.0,Recurring Monthly Donornet,Newmanstown,PA,Philadelphia
1,2019/11/7,3,"Jefferson Riodin,Donaldo Maitre,Michaelle Joha...",NaN,190.0,0.0,Recurring Monthly Donornet,Lincoln Park,NJ,North NJ
2,2020/1/2,2,"Alain Charles Eugene,Magalie Louissaint",NaN,60.0,0.0,Recurring Monthly Donornet,NaN,NaN,South Florida
3,2020/1/9,1,Rose-Phine Saraphina Noël,NaN,30.0,0.0,Recurring Annual Donornet,Philadelphia,PA,Philadelphia
4,2020/1/29,1,Christelle Lumene,NaN,30.0,0.0,Recurring Annual Donornet,Coral Springs,FL,South Florida
...,...,...,...,...,...,...,...,...,...,...
654,2021/12/18,4,"Love Darlie Bejamin,Lourdjina Adelson,Yasmine ...",NaN,NaN,NaN,One Time Donornet,NaN,NaN,Chicago
655,2021/12/22,1,Obenson Paul,NaN,NaN,NaN,One Time Donornet,Frisco,TX,Dallas
656,2021/12/28,1,Alette Phalens,NaN,NaN,NaN,One Time Donornet,Reading,PA,Philadelphia
657,2021/12/30,1,Tracy Carla Constant,NaN,30.0,0.0,Recurring Monthly Donornet,Lansdale,PA,Philadelphia
658,2022/1/1,1,Valsimond Esperancie,NaN,0.0,360.0,One Time Donornet,Lilburn,GA,Atlanta

In [4]:
df_ring_data.columns

Index(['Date Started', 'DN', 'Children Sponsored', 'Ambassador',
       'Recurring Amount', 'One Time Amount', 'PT', 'City of Residence', 'SoR',
       'Region'],
      dtype='object')

In [8]:
df_ring_data_clean = df_ring_data.dropna(subset=['PT', 'SoR'])

In [11]:
df_ring_data_clean['SoR'].unique()

array(['PA', 'NJ', 'FL', 'TX', 'NY', 'NC', 'MD', 'IL', 'VA', 'MA', 'CA',
       'AZ', 'WA', 'Pa', 'AR', 'Canada', 'CT', 'NM', 'GA', 'MI', 'OH',
       'not provided', 'Not provided', 'Texas', 'UT'], dtype=object)

In [14]:
df_ring_data_clean = df_ring_data_clean[df_ring_data_clean['SoR'] != 'Canada']

In [16]:
df_ring_data_clean = df_ring_data_clean[df_ring_data_clean['SoR'] != 'not provided']

In [18]:
df_ring_data_clean = df_ring_data_clean[df_ring_data_clean['SoR'] != 'Not provided']

In [20]:
df_ring_data_clean['SoR'] = df_ring_data_clean['SoR'].replace('Pa','PA')

In [22]:
df_ring_data_clean['SoR'] = df_ring_data_clean['SoR'].replace('Texas','TX')

In [23]:
df_ring_data_clean['SoR'].unique()

array(['PA', 'NJ', 'FL', 'TX', 'NY', 'NC', 'MD', 'IL', 'VA', 'MA', 'CA',
       'AZ', 'WA', 'AR', 'CT', 'NM', 'GA', 'MI', 'OH', 'UT'], dtype=object)

In [24]:
df_ring_data_clean.to_csv('CircularRingVisCleanVersion.csv',index=False)